div {color: black;} /* для всех дивов*/

.boom.room.cool  { color:paleturquoise;}

div.room { color :red;}
span.room { color :green;}

span { color: blue;}

.valera {color: pink;}

.test {color:aquamarine;}

#hash_id {color: red;}

.valeraB {border: 2px solid green;
margin: 30px;
padding: 20px;}
/*border-left: 4px solid green;
border-bottom: 2px dashed green;}*/