/*---------------------------*/
/*базовые*/
/*---------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: #585858;
    font-family: 'Montserrat','Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*---------------------------*/
/*многоразовые*/
/*---------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}


/*-----------заглавные----------------*/
h1 {
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 3px;
    border-color: rgb(160, 113, 55);  
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    /*display: inline-block;*/
}
/*-----------КНОПКИ---------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    
}
.btn-full:link, 
.btn-full:visited {
    background-color: rgb(160, 113, 55);
    border: 2px solid rgb(160, 113, 55);
    color: rgb(160, 162, 161);
    margin-right: 20px 
}
.btn-ghost:link,
.btn-ghost:visited{
    color:rgb(160, 113, 55);
    border: 2px solid rgb(160, 113, 55);
    padding: 10px 65px;
}

.btn:hover,
.btn:active {
    background-color: rgb(143, 101, 49);
}
.btn-full:hover, 
.btn-full:active {
     background-color: rgb(143, 101, 49);
     border: 2px solid rgb(143, 101, 49);
}
.btn-ghost:hover,
.btn-ghost:active {
    color:rgb(160, 162, 161);
    border: 2px solid rgb(143, 101, 49);
    padding: 10px 65px;
}
/*---------------------------*/
/*шапка*/
/*---------------------------*/
.logo {
    width: 100px;
    height: auto;
    float: left;
    margin-top: 30px; 
    
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px; 
     border-bottom: 2px;
    border border-color: rgb(160, 113, 55);
    

}
.main-nav li{
    display: inline-block;
    margin-right: 30px; 
    
   
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    margin-bottom: 5px;
    border: 2px solid transperent;
    
    
}
.main-nav li a:hover,
.main-nav li a:active{
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(143, 101, 49);
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    
    
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url(img/main-BG.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;  /* 100% of viewport*/
}

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.main-table {
    border: 10px solid rgb(160, 113, 55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}